**/.env
**/.venv
**/__pycache__
**/.ipynb_checkpoints/
**/.virtual_documents/
**/session_*.svg
**/*graph.svg
**/auto/*.el
*.old
**/package-lock.json
**/*.parquet

paper/src/auto/*
paper/src/bib/auto
docs/goals/*.md
PHANTOM.wiki/
experiments/airflow/logs/*
experiments/airflow/logs/scheduler/
experiments/airflow/logs/dag_processor_manager/
experiments/collected_data/
experiments/agents/collected_data/
sim/rl/behavior_loader/*.dot
sim/rl/behavior_loader/*.png
sim/rl/behavior_loader/*.svg
sim/rl/behavior_loader/*.pdf
tests/e2e/node_modules/**
