**/.env
**/.venv
**/__pycache__
**/.ipynb_checkpoints/
**/.virtual_documents/
**/session_*.svg
**/*graph.svg
paper/src/bib/auto

# Airflow logs - exclude DAG run logs
experiments/airflow/logs/*
experiments/airflow/logs/scheduler/
experiments/airflow/logs/dag_processor_manager/
